// 	// Main Primary color */
// $color-primary-1:
// $color-primary-2:
//
// // Main Secondary color (1) */
// $color-secondary-1:
// $color-secondary-2:
//
// 	// Main tertiary color (2) */
// $color-tertriary-1:
// $color-tertriary-2:
// $color-neutral: #e7e1d5;
//
//
// $primary-text:
// $secondary-text:
// $normal-text:


// section 1 pics
$icons-dir: "../img";

$box-height: 300px;

$breakpoints: (
  'x-small': (max-width: 415px),
  'small': (max-width: 660px),
  'medium': (max-width: 800px),
  'large': (max-width: 1100px),
  'x-large': (min-width: 1470px),
);
