header{
  background-image: url("../img/gropius2.jpg");
  @extend %back-photo;
  background-position: center 65%;
  height: 400px;
  width: 100vw;

  .title{
    @include font($secondary-text, 80px);
    font-weight: bold;
    color: $color-text-1;
    text-align: center;
    @include position(relative, 70% null null null); //Bourbun function.
    background-color: rgba(260, 187, 114, 0.70);
    @include respond-to(medium){
      font-size: modular-scale(2); //Bourbun function to adapt font-size.
    };

  }
}
