nav{
  @include font($secondary-text, 25px);
  position: absolute;
  top: 10px;
  background-color: $color-secondary-dark;
  ul{
    li{
      padding: 10px;
      display: inline-block;
    }
  }
  @include respond-to(medium){
    width: 100%;
  };

}
