.first, .second{
  @include grid-column(12);
  padding: 20px 0;
}



.first{
  background-color: $color-secondary-dark;
  section{
    @include grid-column(5);
    //  @include grid-push(1); //Neat columm manipulation of left margin.
    p{
       @include font($normal-text, 20px);
      //  @include grid-column(11); //Neat column.
       padding: 20px 5%;
       color: white;
       background-color: $color-primary-dark;
      }
    h2{
       @include font($secondary-text, 40px);
      margin:5%;
      margin-top: 110px;
      transform: rotate(-28deg);
      font-weight: bold;
    }
  }
  aside{
    @include grid-column(7);
  }
}


.second{
  background-color: $color-secondary-light;
  section{
    @include grid-column(6);
  }
  aside{
    @include grid-column(6);
  }
}
